<a href="https://colab.research.google.com/github/wetfire2k/data_science_2020/blob/master/notebooks/Introduzione_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduzione a python
---

Corso di Data Science

*a cura di Stefano Vena*

##Valori e tipi

In [0]:
a = 1 #Intero
b = 2.0 #Decimale (Virgola mobile o floating point)
c = "Ciao Mondo!" #stringa

print(a) #stampiamo a schermo il valore nella variabile "a"
print(b) #stampiamo a schermo il valore nella variabile "b"
print(c) #stampiamo a schermo il valore nella variabile "c"

print(type(a)) #stampiamo a schermo il tipo della variabile "a"
print(type(b)) #stampiamo a schermo il tipo della variabile "b"
print(type(c)) #stampiamo a schermo il tipo della variabile "c"

1
2.0
Ciao Mondo!
<class 'int'>
<class 'float'>
<class 'str'>

##Operatori Aritmetici.

In [0]:
print(1 + 2)  #Somma
print(3 - 4)  #Sottrazione
print(2 * 8)  #Moltiplicazione
print(4 / 3)  #Divisione
print(4 // 3) #Divisione intera
print(4 % 4 ) #Resto della divisione intera
print(3 ** 4) #Elevamento a potenza

3
-1
200
1.3333333333333333
1
81

**Esempio:**
Un film dura 125 minuti. esprimere la durata in ore.

In [0]:
durata = 125
ore = durata / 60 #Il valore delle ore di solito non è decimale
ore = durata // 60 
#quanti minuti ci sono di resto?
resto = durata - ore*60
#oppure
resto = durata % 60 ## % ritorna il resto della divisione intera
print('Il film dura', ore, 'ore e', resto , 'minuti')

Il film dura 2 ore e 5 minuti

##Variabili Booleane e operatori logici

In [0]:
a = True
b = False
c = 1
d = 0

print(a and b)  #False
print(a and a)  #True
print(a or b)   #True
print(b or b)   #False
print(not a)    #False
print(c and d)  #0 (False)
print(a or c)   #True

False
True
True
False
False
0
True

##Operatori di confronto

In [0]:
x = 2
y = 3
print(x == y) #x è uguale a y
print(x != y) # x è diverso da y
print(x > y) # x è maggiore di y
print(x < y) # x è minore di y
print(x >= y) # x è maggiore o uguale a y
print(x <= y) # x è minore o uguale a y

False
True
False
True
False
True

#Variabili, istruzioni, espressioni

In [0]:
#80volte = True
base = 30
altezza = 20
area_triangolo = base * altezza / 2
print(area_triangolo)

300.0

##Funzioni
risultato = **funzione**(argomento)

Si possono usare nelle espressioni

area_triangolo = area_rettangolo(base, altezza) / 2

**Definire una nuova funzione**

```
def area_rettangolo(base, altezza):
  return base * altezza
```

Non tutte le funzioni producono un risultato, esse sono dette vuote
Es: print(‘ciao’)

**Perché sono importanti le funzioni?**

In [0]:
import math
a = math.sin(2)
print(a)

def area_rettangolo(base, altezza):
    return base * altezza

area_triangolo = area_rettangolo(30, 20) / 2

print(area_triangolo)

0.9092974268256817
300.0

##Ambito delle variabili

In [0]:
a = 10
b = 12
def fun():
  print(a) #qui a è visibile ma è una pratica scorretta!
  b = 24 #non stiamo modificando la b dichiarata prima
  variabile = 3
  print(b)
fun()  
print(b)
#print(variabile) #errore: variabile qui non esiste!

10
24
12

NameError: ignored

##Esecuzione condizionale

In [0]:
x = 2
y = 5
#semplice
if x % 2 == 0:
  print('x è pari')
else:
  print('x è dispari')
#condizione in serie
if x < y:
  print('x è minore di y')
elif x > y:
  print('x è maggiore di y')
else:
  print('x e y sono uguali')

x è pari
x è minore di y

##Ricorsione
Una funzione può richiamare anche se stessa.

In [0]:
def conto_alla_rovescia(n):
  if n <= 0:
    print('Via!')
  else:
    print(n)
    conto_alla_rovescia(n-1)

conto_alla_rovescia(3)

5
4
3
2
1
Via!

##Input da tastiera

In [0]:
nome = input('Come ti chiami?\n') #\n è un codice speciale che indica l'andata a capo
anni = input("Quanti anni hai?\n")
print('Ciao', nome, 'hai', int(anni), 'anni' ) #la funzione int() converte una stringa in numero intero (cast)

Come ti chiami?
d
d
Quanti anni hai?
32
hai 32

##Iterazione

###while

L'istruzione *while* ripete un insieme di espressioni fintanto che una condizione si mantenga verificata

In [0]:
n = 3
while n > 0:
  print(n)
  n = n-1
print('Via!')

3
2
1
Via!

interrompere il while: *break*

In [0]:
while True:
  riga = input('> ')
  if riga == 'fine':
    break
  print(riga)

print('Finito!')

> ciao
ciao
> finE
finE
> fine
Finito!

#Le stringhe

In [0]:
str1 = 'Questa  è una stringa, costruita con virgolette singole.'
str2 = "Anche questa è una stringa, ma costruita con virgolette doppie."
str3 = '''Questa stringa è costruita con tre virgolette singole,
Quindi può essere suddivisa in più righe'''
str4 = """Anche questa stringa è multilinea perchè 
racchiusa da tre virgolette doppie"""

print(str3)

Questa stringa è costruita con tre virgolette singole,
Quindi può essere suddivisa in più righe
S
Sono
 una bella stringa senza alcun senso
no una bella
nu l
osnes nuc
40

In [0]:
#Slicing
s = "Sono una bella stringa senza alcun senso"
print( s[0] )
print( s[:4] ) #slicing, specifichiamo solo la posizione di stop
print( s[4:] ) #slicing, specifichiamo solo la posizione di start
print( s[2:14] ) #slicing, specifichiamo la posizione di start e di stop
print( s[2:14:3] ) #slicing, start, stop e passo (ogni 3 caratteri)
print( s[40:30:-1] ) #slicing con passo negativo
s1 = s[:] # copia della stringa ( metodo rapido )
print( len(s1) ) #quanti caratteri contiene la stringa?

In [0]:
#Attraversare una stringa
indice = 0
while indice < len(s):
  lettera = s[indice]
  print(lettera)
  indice = indice + 1

S
o
n
o

u
n
a

b
e
l
l
a

s
t
r
i
n
g
a

s
e
n
z
a

a
l
c
u
n

s
e
n
s
o

In [0]:
for lettera in s:
  print(lettera)

S
o
n
o

u
n
a

b
e
l
l
a

s
t
r
i
n
g
a

s
e
n
z
a

a
l
c
u
n

s
e
n
s
o

In [0]:
#Trova un valore in una stringa
def trova(parola, lettera):
  indice = 0
  while indice < len(parola):
    if parola[indice] == lettera:
      return indice
    indice = indice + 1
  return -1


print( trova( "Stefano", 'f') )

3

In [0]:
parola = 'supercalifragilistichespiralidoso'
conta_lettera = 'i' 
conta = 0
for lettera in parola:
  if lettera == conta_lettera:
    conta = conta + 1
print(conta)

In [0]:
#Trasforma il codice conta caratteri in funzione.

In [0]:
#funzioni basi sulle stringhe

s = 'Ciao a tutti'
s.upper()
s.lower()
s.capitalize()
s.find("a")

if( 'tutti' in s ):
  print("esiste")
else:
  print("non esiste")

In [0]:
 #Confronto di stringhe

parola = 'ananas'
parola2 = 'banana'

if parola < parola2:
  print('La tua parola' , parola , 'viene prima di', parola2 + ".")
elif parola > parola2:
  print('La tua parola' , parola , 'viene dopo', parola2 + ".")
else:
  print('le parole sono uguali')

##Tuple

In [0]:
t = 'a', 'b', 'c', 'd', 'e'

#non è necessario ma è convenzione usare sempre le parentesi
t1 = ('a', 'b', 'c', 'd', 'e')

print('t1==t ?', t == t1)

t = () #tupla vuota
print( type(t) )

one_element_tuple = (42, ) # non dimenticare la virgola!

three_elements_tuple = (1, 3, 5)

a, b, c = 1, 2, 3 # tuple nell'assegnamento multiplo

print('3 è nella tupla?', 3 in three_elements_tuple ) # membership test (la tupla contiene il numero 3?)

**Esercizio** scambiare *a* e *b*

In [0]:
a = 1
b = 2
print('a = ', a)
print('b = ', b)

print('scambio...')
#scambio


print('a = ', a)
print('b = ', b)

##Liste

In [0]:
lista = [10, 20, 30, 40]
lista2 = ['Primi piatti', 'Secondi piatti', 'Dessert']

#operazioni sulle liste

a = [1, 2, 1, 3, 6, 8]

a.pop () # pop (rimuovi e ritorna) ultimo elemento
a.pop (3) # elemento pop alla posizione 3
a.append (13) # possiamo aggiungere qualsiasi cosa alla fine
a.insert (0, 17) # inserisce `17` nella posizione 0
a.remove (17) # rimuove `17` dall'elenco
a.extend ([5, 7]) # estende la lista
print("lista manipolata", a)

a.reverse () # inverte l'ordine degli elementi nell'elenco
a.sort() # Ordina la lista
a.index (13) # posizione di `13` nell'elenco (indicizzazione basata su 0)
a.count (1) # quanti `1` ci sono nella lista?
a.clear() # Rimuove tutti gli elementi dalla lista

a = [1, 3, 5, 7]
min (a) # valore minimo nell'elenco
max (a) # valore massimo nell'elenco
sum (a) # somma di tutti i valori nell'elenco
len (a) # numero di elementi nell'elenco

b = ['a', 'b', 'c']
print(a + b) # `+` con le liste significa concatenazione
print(b * 2) # `*` ha anche un significato speciale

Slicing delle liste

In [0]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
lunghezza = len(a) # la lunghezza è di 10 elementi
ultimo_elemento = a[lunghezza - 1] # la posizione dell’ultimo elemento
a[-1] # oppure...

###Map, reduce, filter

In [0]:
def somma_tutti(t):
  totale = 0
  for x in t:
    totale += x
  return totale

#questa operazione è detta riduzione
elenco = [1,1,2,3,4,5]
somma_tutti(elenco)

#in python esiste una funzione già disponibile
print( sum(elenco) == somma_tutti(elenco))

True

In [0]:
def tutte_maiuscole(t):
  res = []
  for s in t:
    res.append(s.upper()) #mappatura
  return res

lista = list("ciao") #convertire una stringa in lista
lista2 = tutte_maiuscole(lista)

stringa = "".join(lista2)
print(stringa)

lista = "ciao come stai".split() #convertire una stringa in lista
print(lista)

CIAO
['ciao', 'come', 'stai']

In [32]:
def solo_maiuscole(t):
  res = []
  for s in t:
    if s.isupper():
      res.append(s)
  return res

#filtriamo solo le lettere Maiuscole
lista = list('CiIaAoO')
maiuscole = solo_maiuscole( lista )
print( "".join( maiuscole ) )

CIAO

Oggetti, Valori, Alias e riferimenti

In [36]:
a = 'sole'
b = 'sole'
#python ha creato un oggetto stringa con il valore 'sole' e lo ha assegnato alle variabili 'a' e 'b'
print( a is b ) #a è la stessa cosa di b

True

In [38]:
#ma se creiamo due liste con lo stesso valore cosa accade?
a = [1, 2, 3]
b = [1, 2, 3]
a is b #a e b sono due oggetti diversi con lo stesso valore

False

L’associazione tra una variabile e un oggetto è chiamato riferimento. 
In questo esempio ci sono due **riferimenti** allo stesso **oggetto**.

Un oggetto che ha più di un riferimento ha anche più di un nome, e si dice quindi che l’oggetto ha degli **alias**.

In [45]:
a = [1, 2, 3]
b = a
print(a is b)

b[0] = 2
print(a)

True
[2, 2, 3]

Effetti collaterali

In [47]:
def rimuovi_primo(lista):
  """ lista è un alias quindi modificare 
      l'argomento equivale a modificare il valore iniziale """      
  del lista[0]
  return lista

lista = [1, 2, 3]
lista_1 = rimuovi_primo(lista)
print(lista)
print(lista_1)

[2, 3]
[2, 3]

versione corretta

In [49]:
def rimuovi_primo(lista):
  """ lista è un alias quindi modificare 
      l'argomento equivale a modificare il valore iniziale """      
  return lista[1:]

lista = [1, 2, 3]
lista_1 = rimuovi_primo(lista)
print(lista)
print(lista_1)

[1, 2, 3]
[2, 3]

##Esercizi


1.   Calcolare la media di una lista di valori
2.   Calcolare la mediana di una lista di valori

come si calcola la media? [link](https://it.wikipedia.org/wiki/Media_(statistica)#Media_aritmetica)

come si calcola la mediana? [link](https://it.wikipedia.org/wiki/Mediana_(statistica))

In [67]:
#media
def media(lista):
  somma = 0
  for valore in lista:
    somma = somma + valore

  return somma / len(lista)

lista = [1, 20, 3, 4, 5, 1.6, 7, 8, 3.9, 10]
print(media(lista))

6.35

In [66]:
#mediana
def mediana( lista ):
  centro = (len(lista) // 2 ) - 1
  lista_ordinata = lista[:] #facciamo una copia
  lista_ordinata.sort()
  if len(lista) % 2 == 0 : #pari
    return ( lista_ordinata[centro] + lista_ordinata[centro + 1] ) / 2 
  else:
    return lista_ordinata[centro]

lista = [ 1, 20, 3, 4, 5, 1.6, 7, 8, 3.9, 10]
print(mediana(lista))

4.5